html {
    font-size:16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
	font-size: 1rem;
}

.container{
	width: 90%;
	height: auto;
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}




/*---------- BASE STYLES ----------*/

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.5rem;
}
h2 {
    font-size: 1.25rem;
}
h3 {
	font-size: 1rem;
}
h4 {
	font-size: .625rem;
}

p {
	font-size: .875rem;
	line-height: 1.313rem;
}

/*---------- HEADER ----------*/

header {
	width: 100%;
	border-bottom: 0.188rem solid #77a466;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

header h1 {
	margin: 0;
	padding: 2em 0 1em 0;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 1.563em 0;
	border-top: 0.188em solid #77a466;
	width: 100%;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875rem;
	padding: 1em;
	display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*---------- CONTENT AREA ----------*/

.top-section,
.bottom-section {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.main-image {
	height: auto;
}

.main-image img {
	width: 100%;
	border-bottom: 0.188rem solid #77a466;
}

.main-title {
	height: auto;
}

.main-title h3 {
	text-align: left;
	padding: 0.313em 0;
	color: #77a466;
}
.main-title p {
	font-size: .875rem;
	line-height: 1.563rem;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
}

.menu {
	list-style: none;
}

ul.menu {
	padding: 0;
}

.menu li {
	color:#77a466;
	padding-bottom: 1.125rem;
  font-size: .875rem;
}

.reviews {
	color: #333;
	font-size: .875rem;
	line-height: 1.313rem;
}

.address {
	font-size: .875rem;
	line-height: 1.5rem;
}

/*---------- FOOTER ----------*/

footer {
	height: auto;
	border-top: 0.188rem solid #eee;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875rem;
}

/*---------- TABLET ----------*/
@media (min-width: 768px) {

  h3 {
  	font-size: 1.125rem;
  }
  h4 {
  	font-size: .75rem;
  }

  .menu li {
    font-size: 1.125rem;
}
  .reviews {
    font-size: .93rem;
}

  .address {
    font-size: 1rem;
  }

  .top-section p {
  	font-size: 1.0125rem;
  	line-height: 1.75rem;
  }

  header h1 {
  	padding: 1rem 0 .5rem 0;
    font-size: 1.875rem;
  }

  header nav {
  	padding: 1rem 0;
  }

  header nav ul li {
  	padding: 1rem;
    font-size: 1rem;
  }

	.bottom-section {
		display:flex;
		flex-flow: row nowrap;
    border-top: 0.063rem solid #eee;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 33%;
		justify-content: space-between;
    align-items: flex-start;
}

.section-two {
	border-left: 0.063rem solid #eee;
	border-right: 0.063rem solid #eee;
}

.section-one h4 {
	padding: 0.625rem 0;
}

.section-two h4,
.section-three h4 {
	padding: 0.625rem 1.875rem;
}

.bottom-section p {
  padding: 0 1.875rem;
}


/*---------- DESKTOP ----------*/
@media (min-width: 1200px) {


  .container{
  	width: 100%;
  	max-width: 1200px;
  }

  body {
    font-size: 1rem;
  }

header {
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}


header h1 {
  padding: 2.375rem 0;
}


header nav {
  border-top: none;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 2.875rem 0;
}

header nav ul {
  display: flex;
  flex-flow: row nowrap;
}

header nav ul li {
	padding: 0 0.625rem;
  font-size: .875rem;
}
